body {
  background-color: rgb(70, 4, 78);
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  text-align: center;
}

p {
  font-weight: 600;
  color: white
}